:root {
    --bg-primary: #1E1E1E;
    --bg-secondary: #252526;
    --bg-tertiary: #333333;
    --text-primary: #FFFFFF;
    --text-secondary: #B3B3B3;

    --accent-main: #007ACC;
    --accent-light: #569CD6;

    /* --font-primary: Inter, Avenir, Helvetica, Arial, sans-serif; */
    --font-primary: Roboto;
    --font-mono: "Courier New";
}

/* General Styles */

.text-primary {
    color: var(--text-primary)
}

.text-secondary {
    color: var(--text-secondary)
}

/* main app */

body {
    margin: 0;
    color: var(--text-primary);
    font-family: var(--font-primary);
    background-color: var(--bg-primary);
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
}

.content {
    display: flex;
    line-height: 1.1;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

.content h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

.content-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    gap: 10px;
}


.input-output-area {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--bg-secondary);
    gap: 10px;
    padding: 2em;
    max-height: 100vh;
}

.input-output-area > * {
    flex-grow: 1;
    flex-basis:0;
}

/* Header */

header {
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-tertiary);
    padding: 1em;
}

header .header-content {
    max-height: 20pt;
    display: flex;
    align-items: center;
}

header .header-content > * {
    margin: 0 5px;
}

header .header-title {
    font-weight: bolder;
    display: inline-block;
    text-align: left;
    font-size: 16pt;
}

header .header-icon {
    height: 24pt
}

header .header-gh {
    text-align: right;
}

header .header-gh-text {
    text-decoration: underline;
    color: white;
    font-size: 11pt;
}

header .header-gh-text:hover {
    text-decoration: underline;
    color: var(--text-secondary);
}

header .header-gh-icon {
    color: white;
    font-size: 12pt;
}

/* Input area */

#inputarea input, textarea {
    resize: none;
    outline: none;
    padding: 10px;
    font-family: 'Courier New'
}

#inputarea textarea {
    min-height: 40vh;
    field-sizing: content;
}

.input-double-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-double-group > * {
    flex-grow: 1;
    flex-basis: 0;
}

.input-double-group label {
    font-weight: bolder;
}

.input-key{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input-key > * {
    margin-right: 10px;  
    margin-bottom: 1em;
}

.input-key select {
    font-family: var(--font-primary);
    padding: 0.8em 1em;
    background-color: white;
    outline: none;
    border: none;
    flex-grow: 1;
    flex-basis: 0;
}

.input-time-signature input[type=number] {
    width: 11pt;
    text-align: center;
    appearance: textfield;
    -moz-appearance: textfield;
}

.input-time-signature input::-webkit-outer-spin-button,
.input-time-signature input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-block {
    display: inline-block;
}

.input-signature-sep {
    margin: 0 5pt;
}

.input-transpose-container button {
    background-color: white;
    color: black;
    font-family: 'Courier New';
    outline: none;
    font-size: 11pt;
    padding: 4pt 8pt;
    margin: 0 2pt;
    font-weight: bolder;
    border-radius: 5pt;
    cursor: pointer;
}

/* Output Area */
#outputarea {
    font-family: Arial;
    text-align: left;
    color: black;
    display: flex;
}

.output-header {
    display: flex;
    flex-direction: column;
    padding: 0em 1em;
    color: var(--text-primary);
}

.output-header-row {
    display: flex;
    flex-direction: row;
    padding: 0em 1em;
    align-items: center;
    justify-content: space-between;
    color: var(--text-primary);
}

.output-header button {
    background-color: white;
    color: black;
    font-family: var(--font-primary);
    padding: 1em;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 1em;
}

.output-preview {
    background-color: white;
    overflow: scroll;
    line-height: 1.15;
    padding: 2em;
    flex-grow: 1;
}

/* On smaller screens (e.g., mobile devices), switch to vertical stacking */
@media (max-width: 768px) {
    .input-output-area {
        display: flex;
        flex-direction: column;
        background-color: var(--bg-secondary);
        gap: 10px;
        padding: 2em;
        max-height: 140vh;
    }

    .input-output-area > * {
        flex-grow: 0;
        flex-basis:0
    }

    .input-key-and-signature {
        flex-direction: column;
    }

    .input-time-signature {
        text-align: left;
    }
}

/* #outputarea h1 { */
/*     font-size: 18; */
/*     font-weight: bold; */
/* } */
/**/
/* #outputarea h2 { */
/*     font-size: 12; */
/*     text-decoration: underline; */
/*     font-weight: bold; */
/* } */
/**/
/* #outputarea h3 { */
/*     font-size: 13; */
/*     font-weight: bold; */
/* } */
/**/
/* #outputarea p { */
/*     font-size: 11; */
/* } */
