:root {
    --bg-primary: #1E1E1E;
    --bg-secondary: #252526;
    --bg-tertiary: #333333;
    --text-primary: #FFFFFF;
    --text-secondary: #B3B3B3;

    --accent-main: #007ACC;
    --accent-light: #569CD6;

    --font-primary: Inter, Avenir, Helvetica, Arial, sans-serif;
}

/* main app */

body {
    margin: 0;
    color: var(--text-primary);
    font-family: var(--font-primary);
    background-color: var(--bg-primary);
}

.content {
    display: flex;
    min-height: 100vh;
    line-height: 1.1;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

.content h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

.content-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    gap: 10px;
}


.input-output-area {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--bg-secondary);
    gap: 10px;
    padding: 2em;
    max-height: 100vh;
}

.input-output-area > * {
    flex-grow: 1;
    flex-basis:0;
}

/* Input area */

#inputarea input, textarea {
    resize: none;
    outline: none;
    padding: 10px;
    font-family: 'Courier New'
}

#inputarea textarea {
    min-height: 40vh;
    field-sizing: content;
}

.input-key-and-signature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-key-and-signature > * {
    flex-grow: 1;
    flex-basis: 0;
}

.input-key-and-signature label {
    font-weight: bolder;
}

.input-key{
    display: flex;
    align-items: center;
}

.input-key > * {
    margin-right: 10px;  
    margin-bottom: 1em;
}

.input-key select {
    font-family: var(--font-primary);
    padding: 0.8em 1em;
    background-color: white;
    outline: none;
    border: none;
    flex-grow: 1;
    flex-basis: 0;
}

.input-time-signature input {
    width: 11pt;
    text-align: center;
}

.input-signature-block {
    display: inline-block;
}

.input-signature-sep {
    margin: 0 5pt;
}

/* Output Area */
#outputarea {
    font-family: Arial;
    text-align: left;
    color: black;
    display: flex;
}

#outputarea > .output-controls {
    display: flex;
    flex-direction: row;
    padding: 0em 1em;
    color: var(--text-primary);
}

#outputarea > .output-preview {
    background-color: white;
    overflow: scroll;
    line-height: 1.15;
    padding: 2em;
    flex-grow: 1;
}

/* On smaller screens (e.g., mobile devices), switch to vertical stacking */
@media (max-width: 768px) {
    .input-output-area {
        display: flex;
        flex-direction: column;
        background-color: var(--bg-secondary);
        gap: 10px;
        padding: 2em;
        max-height: 140vh;
    }

    .input-output-area > * {
        flex-grow: 0;
        flex-basis:0
    }

    .input-key-and-signature {
        flex-direction: column;
    }

    .input-time-signature {
        text-align: left;
    }
}

/* #outputarea h1 { */
/*     font-size: 18; */
/*     font-weight: bold; */
/* } */
/**/
/* #outputarea h2 { */
/*     font-size: 12; */
/*     text-decoration: underline; */
/*     font-weight: bold; */
/* } */
/**/
/* #outputarea h3 { */
/*     font-size: 13; */
/*     font-weight: bold; */
/* } */
/**/
/* #outputarea p { */
/*     font-size: 11; */
/* } */
